<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://123.207.244.139:3306/db_trade</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="default_catalog">db_trade</property>
        <property name="default_schema">db_trade</property>

        <property name="show_sql">false</property>

        <!--<property account="connection.username">root</property>-->
        <!--<property account="connection.password">906978985</property>-->

        <property name="connection.username">root</property>
        <property name="connection.password">906978985</property>

        <mapping class="com.ninggc.match.trade.DAO.User"/>
        <mapping class="com.ninggc.match.trade.DAO.Campus"/>
        <mapping class="com.ninggc.match.trade.DAO.Commodity"/>
        <mapping class="com.ninggc.match.trade.DAO.Delegation"/>
        <mapping class="com.ninggc.match.trade.DAO.Location"/>
        <mapping class="com.ninggc.match.trade.DAO.Security"/>
        <mapping class="com.ninggc.match.trade.DAO.City"/>
        <mapping class="com.ninggc.match.trade.DAO.Indent"/>
        <mapping class="com.ninggc.match.trade.DAO.UserHasDelegation"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property account="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>